body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

.page-wrapper {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

nav {
    width: 100%;
    min-height: 70px;
}

.nav-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

.nav-content-wrapper button {
    width: 150px;
    height: 48px;
    border-radius: 8px;
    background-color: #E8EFF2;
    padding: 0;
    outline: none;
    border: none;
    color: #162542;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    width: 150px;
    height: 48px;
    cursor: pointer;
    transition: .2s;
}

@media screen and (min-width: 1300px) {
    .nav-content-wrapper button {
        width: 175px;
        height: 58px;
    }
}

.nav-content-wrapper button:hover {
    background-color: #162542;
    color: #FFFFFF;
}

.pattern-square1 {
    display: none;
}

@media screen and (min-width: 735px) {
    .pattern-square1 {
        display: block;
        position: absolute;
        right: -160px;
        top: 190px;
        z-index: -1;
    }
}

.page-top-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
}

.right-top-header {
    display: none;
}

@media screen and (min-width: 1300px) {

    .page-wrapper {
        padding: 60px 130px 30px 130px;
    }

    .keyboard-top-img-wrapper {
        display: none !important;
    }

    .page-top-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .left-top-header {
        width: 445px;
        height: 312px;
    }

    .left-top-header .page-top-btn-wrapper p {
        width: 50% !important;
    }

    .left-top-header .page-top-btn-wrapper button {
        margin: 12px 12px 12px 0 !important;
        width: 175px !important;
        height: 58px !important;
        padding: 15px 0 !important;
    }

    .left-top-header p {
        width: 100% !important;
    }

    .right-top-header {
        display: block;
    }

    .right-top-header img {
        width: 540px;
        height: 480px;
        border-radius: 8px;
        
    }
}

.page-top-header h1 {
    color: #162542;
    font-size: 48px;
    /* margin-bottom: 0; */
}

.page-top-header .page-top-btn-wrapper p {
    color: #7B8BAD;
    font-size: 16px;
    /* margin-bottom: 25px; */
}

.page-top-btn-wrapper {
    display: flex;
    justify-content: space-between;
}

.page-top-header .page-top-btn-wrapper button {
    width: 150px;
    height: 48px;
    border-radius: 8px;
    background-color: #F16718;
    padding: 0;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    width: 150px;
    height: 48px;
    cursor: pointer;
    transition: .2s;
}

.page-top-header .page-top-btn-wrapper {
        display: flex;
        align-content: center;
    }

.page-top-header .page-top-btn-wrapper button:hover {
    background-color: #FF9B62;
}

@media screen and (min-width: 630px) {
    .page-top-header p {
        width: 570px;
    }

    .page-top-header .page-top-btn-wrapper {
        display: flex;
        justify-content: flex-start;
        align-content: center;
    }

    .page-top-header .page-top-btn-wrapper p {
        box-sizing: border-box;
        padding: 9px 0;
    }

    .page-top-header .page-top-btn-wrapper button {
        margin: 12px;
    }
}

.keyboard-img-wrapper {
    margin-top: 80px;
}

.keyboard-top-img-wrapper img {
    /* max-width: 372px; */
    height: 331px;
    border-radius: 8px;
}

.keyboard-bottom-img-wrapper {
    display: flex;
    justify-content: flex-end;
}

.keyboard-bottom-img-wrapper .keyboard-overview-middle {
    display: none;
}

.keyboard-bottom-img-content-wrapper {
    display: flex;
}

@media screen and (min-width: 1300px) {
    .keyboard-bottom-img-wrapper .keyboard-overview-middle {
        display: flex;
        width: 255px;
        min-height: 265px;
    }

    .keyboard-bottom-img-wrapper {
        display: flex;
        justify-content: space-evenly !important;
    }

    .left-keyboard-color {
        width: 255px !important ;
        height: 480px !important;
    }

    .keyboard-bottom-img-wrapper img:nth-child(1) {
        width: 255px !important ;
        height: 480px !important;
    }

    .keyboard-right-img {
        max-width: 445px !important;
        height: 480px !important;
    }

    .keyboard-bottom-img-content-wrapper {
        display: flex;
    }

    .keyboard-overview-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 235px !important;
        margin: 0 !important; 
    }

    .keyboard-overview-middle h1 {
        font-size: 32px !important;
    }

    .keyboard-overview-middle p {
        width: 100% !important;
        text-align: left !important;
    }

    .keyboard-overview-top {
        display: none !important;
    }
}

.pattern-square2 {
    display: none;
}

@media screen and (min-width: 860px) {
    .pattern-square2 {
        display: block;
        position: absolute;
        left: -160px;
        top: 1010px;
    }
}

@media screen and (min-width: 385px) {
    .keyboard-top-img-wrapper img {
        height: 400px;
        border-radius: 8px;
    }
}

@media screen and (min-width: 465px) {
    .keyboard-top-img-wrapper img {
        height: 500px;
        border-radius: 8px;
    }
}

@media screen and (min-width: 580px) {
    .keyboard-top-img-wrapper img {
        height: 500px;
        width: 650px;
        border-radius: 8px;
    }
}

@media screen and (min-width: 730px) {
    .keyboard-top-img-wrapper {
        display: flex;
        justify-content: center;
    }
}


@media screen and (min-width: 450px){
    .keyboard-bottom-img-wrapper {
        display: flex;
        justify-content: center;
    }
}

.left-keyboard-color {
    width: 129px;
    height: 193px;
    margin: 20px 0 20px 20px;
    background: #F16718;
    border-radius: 8px;
}

.keyboard-bottom-img-wrapper img:nth-child(1) {
    width: 129px;
    height: 193px;
    opacity: 0.25;
    border-radius: 8px;
}

.keyboard-bottom-img-wrapper img:nth-child(2) {
    max-width: 220px;
    height: 193px;
    margin: 20px 0 20px 20px;
    border-radius: 8px;
}

.keyboard-overview {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1300px) {
    .keyboard-overview {
        margin-top: 100px;
        display: flex;
        flex-direction: row ;
        justify-content: center;
        align-items: center;
    }

    .keyboard-overview-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: baseline !important;
        margin: 50px 0;
        width: 255px !important;
        min-height: 323px !important;
        margin: 35px !important;
    }

    .keyboard-overview-card h2 {
        text-align: left !important;
        color: #162542;
    }

    .keyboard-overview-card p {
        text-align: left !important;
        color: #7B8BAD;
        width: 100% !important;
    }
}

.keyboard-overview-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.keyboard-overview-top h1 {
    color: #162542;
    text-align: center;
    width: 255px;
    font-size: 32px;
}

.keyboard-overview-top p {
    text-align: center;
    margin: 0;
    color: #7B8BAD;
    font-size: 16px;
}

.keyboard-overview-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.keyboard-overview-card img {
    background-color: #F16718;
    width: 65px;
    height: 65px;
    border-radius: 8px;
}

.overview-icon1 {
    box-sizing: border-box;
    padding: 20px 17px;
}

.overview-icon2 {
    box-sizing: border-box;
    padding: 20px 22px;
}

.overview-icon3 {
    box-sizing: border-box;
    padding: 20px 15px;
}

.overview-icon4 {
    box-sizing: border-box;
    padding: 20px 19px;
}

.keyboard-overview h2 {
    width: 140px;
    color: #162542;
    font-size: 24px;
    text-align: center;
}

.keyboard-overview p {
    color: #7B8BAD;
    text-align: center;
    font-size: 16px;
    margin: 0;
}

@media screen and (min-width: 450px) {
    .keyboard-overview p {
        width: 80%;
    }
}

@media screen and (min-width: 500px) {
    .keyboard-overview p {
        width: 70%;
    }
}

@media screen and (min-width: 560px) {
    .keyboard-overview p {
        width: 40%;
    }
}

footer {
    min-height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #7B8BAD;
}

footer span {
    font-weight: bold;
}